* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;

}

body {
    background-color: #F1F2F2;
}

#container {
    width: 50%;
    margin: auto;
    margin-top: 8%;
    text-align: center;
    padding: 5%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease all .5s;


}

h1 {
    color: #5892FF;
    margin: 0;
    margin-bottom: 5%;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;

}