* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#container {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 8%;
    transition: ease all .5s;
}

#container>div {
    width: 50%;
}

.person-image>img {
    width: 100%;
}

.logo {
    padding: 2%;
}

.logo>img {
    width: 70%;
    margin-left: 15%;
}

.heading {
    text-align: center;
    margin-bottom: 2%;
}

.heading> :first-child {
    margin-bottom: 1%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 10px;
}

input {
    outline: none;
    ;
}

#email {
    width: 100%;
    padding: 15px 10px;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(101, 101, 101);
}

#phone-container {
    display: flex;
    border: 1px solid rgb(101, 101, 101);
}


#phone {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 15px 10px;
    display: inline-block;
}




#submit-btn {
    background-color: #585757;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: black;
}



/* Media Query */

/* small */
@media (max-width: 500px) {
    #container {
        display: flex;
        margin-top: 0;
        flex-direction: column;
        width: 100%;
    }

    #container>div {
        width: 100%;
    }

    .form {
        padding: 5%;
    }

    #email {
        width: 100%;
        padding: 12px;
        display: inline-block;
        border: 1px solid rgb(101, 101, 101);
    }

    #phone {
        width: 100%;
        border: none;
        padding: 15px;
        display: inline-block;
    }
}

/* medium */
@media (min-width:501px) and (max-width: 735px) {
    #container {
        margin-top: 30%;
        width: 100%;
        align-items: center;

    }
}

/* mini laptop */
@media (min-width:736px) and (max-width: 950px) {
    #container {
        margin-top: 30%;
        width: 100%;
    }

}















/* .person-image>img{
    width: 90%;
}

.logo>img{
    width: 80%;
    margin-left: 15%;
}
.heading{
    text-align: center;
    padding: 0;
}
.right{
   
    display: flex;
    flex-direction: column;

    gap: 10px;
    
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
/* input{
    outline: none;;
}
#email{
    width: 100%;
    padding: 10px;
    border:1px solid rgb(101, 101, 101);
}
#phone-container{
    border: 1px solid rgb(101, 101, 101);
}
#phone-container > input{
    margin: 0;
    border: none;
    
    width: 80%;
    padding: 10px;

} */
/* #country-code{
    margin: 0;
    width: 15%;
    border: none;
}
#submit-btn{
    background-color: #585757;
    color: white;
    padding:10px 0;
    border: none;
    border-radius: 5px;
} */